$primary-dark: linear-gradient(92.83deg, #CBB26A -1.61%, #FBF4A1 53.52%, #CBB26A 101.51%);
$primary: linear-gradient(92.83deg, #CBB26A -1.61%, #FBF4A1 53.52%, #CBB26A 101.51%);
$secondary: #f4f9ff;
$dark: #1c1c1c;
$light: #fff;
$white: #fff;
$black: #1c1c1c;
$success: #34a853;
$danger: #ea4335;
$warning: #fbbc05;

$logo-orange: #ed6a5a;
$logo-green: #036f69;

$primary-light: #f4f9ff;
$warning-light: #fffaee;
$danger-light: #fcf4f5;
$success-light: #f1f9f3;

$grey: #4f4f4f;
$disabled: #d1d3d4;
$background: #e8e8e8;
$avatar-background: #e6f7fa;

$transparent: rgba(0, 0, 0, 0);
$transparent-5: rgba(0, 0, 0, 0.5);
